<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="style.css">
    <!-- Delete ".min" for console warnings in development -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.js"></script>
  </head>
  <body>

    

    <!-- the demo root element -->
   <div id="app" class="form">
  <h2>大航海時代Origin</h2>
  <b-tabs>
    <b-tab title="船隻" active>

      <div id="warp" class="container-fluid">
        <ship v-for="entry in entries" :entry="entry"></ship>
      </div>
    </b-tab>
    <b-tab title="地圖">
 
       
    </b-tab>
    <b-tab title="人物">
      <div id="warp" class="container-fluid">
        <sailor v-for="entry in entries2" :entry="entry"></sailor> 
      </div>
    </b-tab>
  </b-tabs>

</div>

    <!-- demo code -->
    <script src="script.js"></script>
  </body>
</html>

