

#app {
  margin-bottom: 3em;
}
.form {
 background:rgba(0,25,75,0.9);
  color:rgba(155,195,225,0.9);
  
}
.img {
  top:40px;
  width:100px;
  height:100px;
 position: absolute;
  
  
}
.img2{
  background:rgba(255,255,255,0.9);
    top:30px;
  width:147px;
  height:147px;
 position: absolute;
}
#warp{
  

 display: grid;
grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
grid-gap: 10px;
}
.element{
  
  	width: 375px;
	height: 180px;
  background:rgba(75,125,195,0.5);
	box-shadow: 0px 0px 12px rgba(55,155,155,0.5);
  border: 1px solid rgba(255,255,255,0.75);
	text-align: left;
	cursor: default;
  	position: relative;
  	font-size: 20px;
  color: rgba(55,55,55,0.75);
}
	


 .D {
 background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);


	}
 .C {
	background-color: #2f4353;
background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
	}
 .B {
	background-color: #aecad6;
background-image: linear-gradient(315deg, #aecad6 0%, #b8d3fe 74%);
	}
 .A {
background-color: #fbb034;
background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
	}
.S {
		background-color: #e899dc;
background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
	}
	 .col1 {
    position: absolute;
		left: 100px;
		color: rgba(255,255,255,0.75);
	}
	 .col2 {
      position: absolute;
		left: 180px;
		color: rgba(255,255,255,0.75);
	}
	 .col3 {
      position: absolute;
		left: 290px;
		color: rgba(255,255,255,0.75);
	}
 .col4 {
      position: absolute;
		left: 150px;
		color: rgba(255,255,255,0.75);
	}
 .col5 {
      position: absolute;
		left: 270px;
		color: rgba(255,255,255,0.75);
	}
